* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background: #e9ecef;
  color: #333;
  line-height: 1;
}

.search-form {
  display: flex;
  justify-content: center;
  margin: 10px auto;
  width: 95%;
  height: 95%;
  margin: 15px auto 15px auto;
  font-size: 16px;
}
.search-form input[type="text"] {
  flex: 1;
  padding: 10px;
  font-size: 18px;
  border: 2px solid #ddd;
  border-radius: 5px 0 0 5px;
  outline: none;
  transition: border 0.3s ease;
}
.search-form input[type="text"]:focus {
  border-color: #007bff;
}
.search-form button {
  padding: 10px 20px;
  font-size: 18px;
  border: 2px solid #007bff;
  border-left: none;
  background-color: #007bff;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.search-form button:hover {
  background-color: #0056b3;
}

.container {
  max-width: 600px;
  margin: 50px auto;
  padding: 2%;
  width: 90%;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 3px 4.5px rgba(0, 0, 0, 0.1);
  position: relative;
}

.page {
  background: #f6f7f8;
  margin: 9.8px auto;
  padding: 10px;
  width: 95%;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border: none;
  font-size: 14px;
}
.page p {
  margin: 8px 0px;
}
.page a {
  font-weight: bold;
  color: #007BFF;
  text-decoration: none;
  transition: color 0.3s;
}
.page a:hover {
  color: #0056b3;
  text-decoration: underline;
}
.page .details {
  font-size: 12px;
  margin: 5px 0px;
  color: #666;
}

.untransPage {
  background: #e6e6e6;
  margin: 9.8px auto;
  width: 95%;
  padding: 5px 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border: none;
  font-size: 12px;
}
.untransPage p {
  margin: 8px 0px;
  color: #666;
}
.untransPage a {
  font-weight: bold;
  color: #71a4d9;
  text-decoration: none;
  transition: color 0.3s;
}
.untransPage a:hover {
  text-decoration: underline;
}

.postDate {
  float: right;
  font-family: monospace;
  font-size: 12px;
}

#loading {
  display: none;
  position: absolute;
  bottom: -80px;
  left: 50%;
  transform: translate(-50%);
  z-index: 1000;
}

.spinner {
  width: 50px;
  height: 50px;
  border: 6px solid #f3f3f3;
  border-top: 6px solid #3498db;
  border-radius: 50%;
  animation: spin 1s cubic-bezier(0.42, 0, 0.58, 1) infinite;
  will-change: transform;
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.cromFooter {
  padding-top: 40px;
  padding-bottom: 10px;
  font-size: 12px;
  font-weight: bold;
  float: right;
}
.cromFooter a {
  color: #485fc7;
  text-decoration: none;
}
.cromFooter a:hover {
  color: #666;
  text-decoration: none;
}
